body {
    background: #ecf3f3;
}
.particle {
    position: absolute;
    border-radius: 50%;
}
@keyframes particle-animation-1 {
    100% {
        transform: translate3d(100px,-130px,150px);
   }
}
.particle:nth-child(1) {
    animation: particle-animation-1 60s infinite;
    opacity: 0.17;
    height: 50px;
    width: 50px;
    animation-delay: -0.2s;
    transform: translate3d(-10px,40px,100px);
    background: #26d9b2;
}
@keyframes particle-animation-2 {
    100% {
        transform: translate3d(-80px,-80px,200px);
   }
}
.particle:nth-child(2) {
    animation: particle-animation-2 60s infinite;
    opacity: 0.61;
    height: 50px;
    width: 50px;
    animation-delay: -0.4s;
    transform: translate3d(-100px,90px,300px);
    background: #d92697;
}
@keyframes particle-animation-3 {
    100% {
        transform: translate3d(-130px,-130px,300px);
   }
}
.particle:nth-child(3) {
    animation: particle-animation-3 60s infinite;
    opacity: 0.99;
    height: 50px;
    width: 50px;
    animation-delay: -0.6s;
    transform: translate3d(90px,90px,300px);
    background: #c7d926;
}
@keyframes particle-animation-4 {
    100% {
        transform: translate3d(87vw, 58vh, 92px);
   }
}
.particle:nth-child(4) {
    animation: particle-animation-4 60s infinite;
    opacity: 0.13;
    height: 6px;
    width: 6px;
    animation-delay: -0.8s;
    transform: translate3d(23vw, 2vh, 27px);
    background: #26d977;
}
@keyframes particle-animation-5 {
    100% {
        transform: translate3d(90vw, 47vh, 52px);
   }
}
.particle:nth-child(5) {
    animation: particle-animation-5 60s infinite;
    opacity: 0.77;
    height: 8px;
    width: 8px;
    animation-delay: -1s;
    transform: translate3d(14vw, 9vh, 83px);
    background: #2647d9;
}
@keyframes particle-animation-6 {
    100% {
        transform: translate3d(69vw, 85vh, 79px);
   }
}
.particle:nth-child(6) {
    animation: particle-animation-6 60s infinite;
    opacity: 0.02;
    height: 9px;
    width: 9px;
    animation-delay: -1.2s;
    transform: translate3d(24vw, 22vh, 7px);
    background: #ac26d9;
}
@keyframes particle-animation-7 {
    100% {
        transform: translate3d(54vw, 77vh, 57px);
   }
}
.particle:nth-child(7) {
    animation: particle-animation-7 60s infinite;
    opacity: 0.07;
    height: 9px;
    width: 9px;
    animation-delay: -1.4s;
    transform: translate3d(69vw, 5vh, 84px);
    background: #d9265f;
}
@keyframes particle-animation-8 {
    100% {
        transform: translate3d(22vw, 54vh, 100px);
   }
}
.particle:nth-child(8) {
    animation: particle-animation-8 60s infinite;
    opacity: 0.93;
    height: 9px;
    width: 9px;
    animation-delay: -1.6s;
    transform: translate3d(47vw, 85vh, 75px);
    background: #26b5d9;
}
@keyframes particle-animation-9 {
    100% {
        transform: translate3d(17vw, 32vh, 22px);
   }
}
.particle:nth-child(9) {
    animation: particle-animation-9 60s infinite;
    opacity: 0.09;
    height: 8px;
    width: 8px;
    animation-delay: -1.8s;
    transform: translate3d(10vw, 62vh, 76px);
    background: #d926d9;
}
@keyframes particle-animation-10 {
    100% {
        transform: translate3d(20vw, 54vh, 51px);
   }
}
.particle:nth-child(10) {
    animation: particle-animation-10 60s infinite;
    opacity: 0.3;
    height: 9px;
    width: 9px;
    animation-delay: -2s;
    transform: translate3d(24vw, 72vh, 44px);
    background: #d95626;
}
@keyframes particle-animation-11 {
    100% {
        transform: translate3d(28vw, 42vh, 70px);
   }
}
.particle:nth-child(11) {
    animation: particle-animation-11 60s infinite;
    opacity: 0.32;
    height: 8px;
    width: 8px;
    animation-delay: -2.2s;
    transform: translate3d(82vw, 22vh, 10px);
    background: #26d93b;
}
@keyframes particle-animation-12 {
    100% {
        transform: translate3d(65vw, 13vh, 10px);
   }
}
.particle:nth-child(12) {
    animation: particle-animation-12 60s infinite;
    opacity: 0.47;
    height: 6px;
    width: 6px;
    animation-delay: -2.4s;
    transform: translate3d(27vw, 47vh, 7px);
    background: #d9263b;
}
@keyframes particle-animation-13 {
    100% {
        transform: translate3d(29vw, 13vh, 60px);
   }
}
.particle:nth-child(13) {
    animation: particle-animation-13 60s infinite;
    opacity: 0.43;
    height: 10px;
    width: 10px;
    animation-delay: -2.6s;
    transform: translate3d(59vw, 49vh, 20px);
    background: #26d971;
}
@keyframes particle-animation-14 {
    100% {
        transform: translate3d(83vw, 76vh, 10px);
   }
}
.particle:nth-child(14) {
    animation: particle-animation-14 60s infinite;
    opacity: 0.26;
    height: 7px;
    width: 7px;
    animation-delay: -2.8s;
    transform: translate3d(27vw, 11vh, 71px);
    background: #d9262f;
}
@keyframes particle-animation-15 {
    100% {
        transform: translate3d(9vw, 52vh, 25px);
   }
}
.particle:nth-child(15) {
    animation: particle-animation-15 60s infinite;
    opacity: 0.66;
    height: 10px;
    width: 10px;
    animation-delay: -3s;
    transform: translate3d(88vw, 89vh, 66px);
    background: #b826d9;
}
@keyframes particle-animation-16 {
    100% {
        transform: translate3d(89vw, 25vh, 67px);
   }
}
.particle:nth-child(16) {
    animation: particle-animation-16 60s infinite;
    opacity: 0.47;
    height: 9px;
    width: 9px;
    animation-delay: -3.2s;
    transform: translate3d(58vw, 54vh, 2px);
    background: #26d956;
}
@keyframes particle-animation-17 {
    100% {
        transform: translate3d(59vw, 32vh, 76px);
   }
}
.particle:nth-child(17) {
    animation: particle-animation-17 60s infinite;
    opacity: 0.17;
    height: 7px;
    width: 7px;
    animation-delay: -3.4s;
    transform: translate3d(14vw, 63vh, 78px);
    background: #8026d9;
}
@keyframes particle-animation-18 {
    100% {
        transform: translate3d(64vw, 58vh, 58px);
   }
}
.particle:nth-child(18) {
    animation: particle-animation-18 60s infinite;
    opacity: 0.86;
    height: 8px;
    width: 8px;
    animation-delay: -3.6s;
    transform: translate3d(86vw, 24vh, 10px);
    background: #ca26d9;
}
@keyframes particle-animation-19 {
    100% {
        transform: translate3d(48vw, 84vh, 58px);
   }
}
.particle:nth-child(19) {
    animation: particle-animation-19 60s infinite;
    opacity: 0.81;
    height: 7px;
    width: 7px;
    animation-delay: -3.8s;
    transform: translate3d(39vw, 72vh, 87px);
    background: #a9d926;
}
@keyframes particle-animation-20 {
    100% {
        transform: translate3d(14vw, 88vh, 92px);
   }
}
.particle:nth-child(20) {
    animation: particle-animation-20 60s infinite;
    opacity: 0.26;
    height: 6px;
    width: 6px;
    animation-delay: -4s;
    transform: translate3d(31vw, 36vh, 34px);
    background: #26d9a3;
}
@keyframes particle-animation-21 {
    100% {
        transform: translate3d(23vw, 46vh, 89px);
   }
}
.particle:nth-child(21) {
    animation: particle-animation-21 60s infinite;
    opacity: 0.84;
    height: 6px;
    width: 6px;
    animation-delay: -4.2s;
    transform: translate3d(81vw, 83vh, 12px);
    background: #26d9bb;
}
@keyframes particle-animation-22 {
    100% {
        transform: translate3d(69vw, 85vh, 81px);
   }
}
.particle:nth-child(22) {
    animation: particle-animation-22 60s infinite;
    opacity: 0.34;
    height: 10px;
    width: 10px;
    animation-delay: -4.4s;
    transform: translate3d(60vw, 3vh, 95px);
    background: #26d9b2;
}
@keyframes particle-animation-23 {
    100% {
        transform: translate3d(74vw, 38vh, 70px);
   }
}
.particle:nth-child(23) {
    animation: particle-animation-23 60s infinite;
    opacity: 0.26;
    height: 6px;
    width: 6px;
    animation-delay: -4.6s;
    transform: translate3d(42vw, 47vh, 55px);
    background: #2671d9;
}
@keyframes particle-animation-24 {
    100% {
        transform: translate3d(29vw, 39vh, 73px);
   }
}
.particle:nth-child(24) {
    animation: particle-animation-24 60s infinite;
    opacity: 0.15;
    height: 6px;
    width: 6px;
    animation-delay: -4.8s;
    transform: translate3d(69vw, 29vh, 89px);
    background: #d026d9;
}
@keyframes particle-animation-25 {
    100% {
        transform: translate3d(32vw, 4vh, 42px);
   }
}
.particle:nth-child(25) {
    animation: particle-animation-25 60s infinite;
    opacity: 0.99;
    height: 10px;
    width: 10px;
    animation-delay: -5s;
    transform: translate3d(25vw, 25vh, 64px);
    background: #3826d9;
}
@keyframes particle-animation-26 {
    100% {
        transform: translate3d(84vw, 76vh, 22px);
   }
}
.particle:nth-child(26) {
    animation: particle-animation-26 60s infinite;
    opacity: 0.17;
    height: 10px;
    width: 10px;
    animation-delay: -5.2s;
    transform: translate3d(70vw, 54vh, 38px);
    background: #d96526;
}
@keyframes particle-animation-27 {
    100% {
        transform: translate3d(30vw, 16vh, 80px);
   }
}
.particle:nth-child(27) {
    animation: particle-animation-27 60s infinite;
    opacity: 0.29;
    height: 9px;
    width: 9px;
    animation-delay: -5.4s;
    transform: translate3d(52vw, 85vh, 51px);
    background: #47d926;
}
@keyframes particle-animation-28 {
    100% {
        transform: translate3d(88vw, 25vh, 33px);
   }
}
.particle:nth-child(28) {
    animation: particle-animation-28 60s infinite;
    opacity: 0.69;
    height: 9px;
    width: 9px;
    animation-delay: -5.6s;
    transform: translate3d(58vw, 82vh, 87px);
    background: #d926cd;
}
@keyframes particle-animation-29 {
    100% {
        transform: translate3d(31vw, 24vh, 27px);
   }
}
.particle:nth-child(29) {
    animation: particle-animation-29 60s infinite;
    opacity: 0.68;
    height: 10px;
    width: 10px;
    animation-delay: -5.8s;
    transform: translate3d(18vw, 7vh, 80px);
    background: #a3d926;
}
@keyframes particle-animation-30 {
    100% {
        transform: translate3d(43vw, 40vh, 13px);
   }
}
.particle:nth-child(30) {
    animation: particle-animation-30 60s infinite;
    opacity: 0.7;
    height: 8px;
    width: 8px;
    animation-delay: -6s;
    transform: translate3d(19vw, 32vh, 57px);
    background: #26d96b;
}
