.navbar {
    position: sticky;
    background-color: $bg-body;
    top: 0px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 20px 60px;
}

.nav-left {
    .Logo-Img {
        height: 40px;
        width: auto;
        display: block;
    }
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 42px;
    padding: 14px 32px;
    border-radius: 999px;
    background: rgb(255 255 255 / 40%);
    backdrop-filter: blur(12px);    
   
    a {
        position: relative;
        color: $Theme-dark;
        text-decoration: none;
        font-size: 16px;        
        transition: color 0.3s ease;

        &:hover {
            color: $Theme-primary;
        }
      
    }
}

@media (max-width: 768px) {
    .navbar {
        padding: 16px 20px;       
        gap: 20px;
    }

    .nav-right {
        gap: 24px;
        padding: 12px 24px;

        a {
            font-size: 16px;
        }
    }

    .Logo-Img {
        height: 34px;
    }
}