.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9 !important;
    border-bottom: 1px solid #ddd;;
    height: 70px;
    padding: 0px 24px;
    position: sticky;
    top: 0;
    z-index: 1000;

    .Logo-Img {
        height: 40px;
        width: 40px;
        object-fit: contain !important;
    }
}

.nav-left a,
.nav-right a {
    margin-right: 20px;
    text-decoration: none;
    color: $body-MutedFontColor;
}

.nav-left a {
    margin-right: 0;
    font-weight: bold;
}
.nav-right{
    display: flex;
    gap: 24PX;
}